<template>
    <div>
        <div class="content">
            <div class="container-fluid">
                <!--~~~~~~~ TABLE ONE ~~~~~~~~~-->
                <div
                    class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20"
                >
                    <p class="_title0">
                        Admin Users
                        <Button @click="addModal = true">
                            <Icon type="md-add" /> Add User
                        </Button>
                    </p>

                    <div class="_overflow _table_div">
                        <table class="_table">
                            <!-- TABLE TITLE -->
                            <tr>
                                <th>ID</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>User Type</th>
                                <th>Action</th>
                            </tr>
                            <!-- TABLE TITLE -->
                            <!-- ITEMS -->
                            <tr v-for="(user, i) in users" :key="i">
                                <td>{{ user.id }}</td>
                                <td class="_table_name">{{ user.fullName }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.role_id }}</td>
                                <td>
                                    <Button
                                        type="info"
                                        size="small"
                                        @click="showEditModal(user, i)"
                                        >Edit</Button
                                    >
                                    <Button
                                        type="error"
                                        size="small"
                                        @click="showDeleteModal(user, i)"
                                        >Delete</Button
                                    >
                                </td>
                            </tr>
                            <!-- ITEMS -->
                        </table>
                    </div>
                </div>

                <!-- user add modal -->
                <Modal
                    v-model="addModal"
                    title="Add Admin"
                    :mask-closable="false"
                    :closable="false"
                >
                    <div class="space">
                        <Input
                            type="text"
                            v-model="data.fullName"
                            placeholder="Full name"
                        />
                    </div>
                    <div class="space">
                        <Input
                            type="email"
                            v-model="data.email"
                            placeholder="Email"
                        />
                    </div>
                    <div class="space">
                        <Input
                            type="password"
                            v-model="data.password"
                            placeholder="password"
                        />
                    </div>
                    <div class="space">
                        <Select
                            v-model="data.role_id"
                            placeholder="Select Admin Type"
                        >
                            <!-- <Option v-for="item in cityList" :value="item.value" :key="item.value">{{ item.label }}</Option> -->
                            <Option
                                :value="role.id"
                                v-for="(role, i) in roles"
                                :key="i"
                                >{{ role.roleName }}</Option
                            >
                        </Select>
                    </div>
                    <div slot="footer">
                        <Button type="default" @click="addModal = false"
                            >Close</Button
                        >
                        <Button
                            type="primary"
                            @click="addAdmin"
                            :disabled="isAdding"
                            :loading="isAdding"
                            >{{ isAdding ? "Adding" : "Add Admin" }}</Button
                        >
                    </div>
                </Modal>

                <!-- user edit modal -->
                <Modal
                    v-model="editModal"
                    title="Edit Admin"
                    :mask-closable="false"
                    :closable="false"
                >
                    <div class="space">
                        <Input
                            type="text"
                            v-model="editData.fullName"
                            placeholder="Full name"
                        />
                    </div>
                    <div class="space">
                        <Input
                            type="email"
                            v-model="editData.email"
                            placeholder="Email"
                        />
                    </div>
                    <div class="space">
                        <Input
                            type="password"
                            v-model="editData.password"
                            placeholder="password"
                        />
                    </div>
                    <div class="space">
                        <Select
                            v-model="editData.role_id"
                            placeholder="Select Admin Type"
                        >
                            <!-- <Option v-for="item in cityList" :value="item.value" :key="item.value">{{ item.label }}</Option> -->
                            <Option
                                :value="role.id"
                                v-for="(role, i) in roles"
                                :key="i"
                                >{{ role.roleName }}</Option
                            >
                            <!-- <Option value="Editor">Editor</Option> -->
                        </Select>
                    </div>
                    <div slot="footer">
                        <Button type="default" @click="editModal = false"
                            >Close</Button
                        >
                        <Button
                            type="primary"
                            @click="editAdmin()"
                            :disabled="isAdding"
                            :loading="isAdding"
                        >
                            {{ isAdding ? "Editing..." : "Edit Admin" }}
                        </Button>
                    </div>
                </Modal>
                <delete-modal></delete-modal>
            </div>
        </div>
    </div>
</template>

<script>
import DeleteModal from "../components/deleteModal";
import { mapGetters } from "vuex";
export default {
    components: {
        DeleteModal
    },
    data() {
        return {
            data: {
                fullName: "",
                email: "",
                password: "",
                role_id: null
            },
            addModal: false,
            isAdding: false,
            editModal: false,
            users: [],
            editData: {
                fullName: "",
                email: "",
                password: "",
                role_id: null
            },
            index: -1,
            isDeleting: false,
            deleteModal: false,
            deleteItem: {},
            deleteIndex: -1,
            roles: []
        };
    },

    methods: {
        async addAdmin() {
            if (this.data.fullName.trim() == "")
                return this.e("Full name is required");
            if (this.data.email.trim() == "")
                return this.e("Email is required");
            if (this.data.password.trim() == "")
                return this.e("Password is required");
            if (!this.data.role_id) return this.e("User type is required");
            const res = await this.callApi(
                "post",
                "app/create_user",
                this.data
            );
            if (res.status === 201) {
                this.s("Admin User has been added successfully");
                this.addModal = false;
                this.users.unshift(res.data);
                // this.data.fullName = "";
            } else {
                if (res.status === 422) {
                    console.log(res.data.errors);
                    for (let i in res.data.errors) {
                        this.e(res.data.errors[i]);
                        console.log(res.data.errors[i][0]);
                    }
                    // if (res.data.errors.tagName) {
                    //     this.i(res.data.errors.tagName[0]);
                    // }
                } else {
                    this.swr();
                }
            }
        },
        async editAdmin() {
            if (this.editData.fullName.trim() == "")
                return this.e("User name is required");
            if (this.editData.email.trim() == "")
                return this.e("Email is required");
            if (!this.editData.role_id) return this.e("Role Type is required");
            const res = await this.callApi(
                "post",
                "app/edit_user",
                this.editData
            );
            if (res.status === 200) {
                this.users[this.index].tagName = this.editData;
                this.s("Tag has been added successfully");
                this.editModal = false;
            } else {
                if (res.status === 422) {
                    for (let i in res.data.errors) {
                        this.e(res.data.errors[i]);
                        console.log(res.data.errors[i][0]);
                    }
                } else {
                    this.swr();
                }
            }
        },
        async deleteTag() {
            // this.isDeleing = true
            // const res = await this.callApi('post', 'app/delete_tag', this.deleteItem)
            // if(res.status===200){
            // 	this.tags.splice(this.deletingIndex,1)
            // 	this.s('Tag has been deleted successfully!')
            // }else{
            // 	this.swr()
            // }
            // this.isDeleing = false
            // this.showDeleteModal = false
            //this.isDeleting = true;
            //if(!confirm('Are you sure want to delete this tag?')) return;
            // tag.isDeleting=true;
            // this.$set(tag,'isDeleting',true);
            // const res = await this.callApi(
            //     "post",
            //     "app/delete_tag",
            //     this.deleteItem
            // );
            // if (res.status === 200) {
            //     this.tags.splice(this.deleteIndex, 1);
            //     this.s("Tag has been deleted successfully");
            // } else {
            //     this.swr();
            // }
            // this.isDeleting = false;
            // this.$store.commit("setDeleteModal");
        },
        showEditModal(user, i) {
            this.editData = user;
            this.editModal = true;
            this.index = i;
        },
        showDeleteModal(tag, i) {
            // this.deleteItem = tag;
            // this.deleteIndex = i;
            // this.deleteModal = true;
            const deleteModalObj = {
                showDeleteModal: true,
                deleteUrl: "app/delete_tag",
                data: tag,
                deleteIndex: i,
                isDeleted: false
            };
            // console.log('delete Obj Tag')
            this.$store.commit("setDeleteModalObj", deleteModalObj);
        }
    },
    async created() {
        const [res, resRole] = await Promise.all([
            this.callApi("get", "app/get_users"),
            this.callApi("get", "app/get_roles")
        ]);
        // const res = await this.callApi("get", "app/get_users");
        if (res.status === 200) {
            console.log(res);
            this.users = res.data;
        } else {
            this.swr();
        }
        if (res.status === 200) {
            console.log(res);
            this.users = res.data;
        } else {
            this.swr();
        }
        if (resRole.status === 200) {
            this.roles = resRole.data;
        } else {
            this.swr();
        }
    },
    computed: {
        ...mapGetters(["getDeleteModalObj"])
    },
    watch: {
        //update Obj DeleteModalObj thì hàm getter mới được gọi lại,
        //mặc khác nếu update 1 property của DeleteModalObj thì getter sẽ không được gọi
        getDeleteModalObj(obj) {
            if (obj.isDeleted) {
                this.tags.splice(obj.deleteIndex, 1);
            }
        }
    }
};
</script>
<style>
.space {
    padding: 5px 0;
}
</style>
