<template>
    <div>
        <div class="content">
            <div class="container-fluid">
                <!--~~~~~~~ TABLE ONE ~~~~~~~~~-->
                <div
                    class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20"
                >
                    <p class="_title0">
                        Category
                        <Button
                            @click="addModal = true"
                            v-if="isWritePermitted"
                        >
                            <Icon type="md-add" /> Add Category
                        </Button>
                    </p>

                    <div class="_overflow _table_div">
                        <table class="_table">
                            <!-- TABLE TITLE -->
                            <tr>
                                <th>ID</th>
                                <th>Icon image</th>
                                <th>Category Name</th>
                                <th>Created at</th>
                                <th>Action</th>
                            </tr>
                            <!-- TABLE TITLE -->
                            <!-- ITEMS -->
                            <tr v-for="(item, i) in category" :key="i">
                                <td>{{ item.id }}</td>
                                <td class="table_image">
                                    <img
                                        class="img-fluid"
                                        :src="item.iconImage"
                                        alt=""
                                    />
                                </td>
                                <td class="_table_name">
                                    {{ item.categoryName }}
                                </td>
                                <td>{{ item.created_at }}</td>
                                <td>
                                    <Button
                                        type="info"
                                        size="small"
                                        @click="showEditModal(item, i)"
                                        v-if="isUpdatePermitted"
                                        >Edit</Button
                                    >
                                    <Button
                                        type="error"
                                        size="small"
                                        @click="showDeleteModal(item, i)"
                                        v-if="isDeletePermitted"
                                        >Delete</Button
                                    >
                                </td>
                            </tr>
                            <!-- ITEMS -->
                        </table>
                    </div>
                </div>

                <!-- tag add modal -->
                <Modal
                    v-model="addModal"
                    title="Add Category"
                    :mask-closable="false"
                    :closable="false"
                >
                    <Input
                        v-model="data.categoryName"
                        placeholder="Add Category Name"
                    />
                    <div class="space"></div>
                    <Upload
                        ref="uploads"
                        :on-success="handleSuccess"
                        :format="['jpg', 'jpeg', 'png']"
                        :max-size="2048"
                        :on-format-error="handleFormatError"
                        :on-error="handleError"
                        :on-exceeded-size="handleMaxSize"
                        type="drag"
                        :headers="{
                            'x-csrf-token': token,
                            'X-Requested-With': 'XMLHttpRequest'
                        }"
                        action="/app/upload"
                    >
                        <div style="padding: 20px 0">
                            <Icon
                                type="ios-cloud-upload"
                                size="52"
                                style="color: #3399ff"
                            ></Icon>
                            <p>Click or drag files here to upload</p>
                        </div>
                    </Upload>
                    <div class="image-thumb" v-if="data.iconImage">
                        <img
                            class="image-upload"
                            :src="`${data.iconImage}`"
                            alt=""
                        />
                        <div class="demo-upload-list-cover">
                            <!-- <Icon
                                type="ios-trash-outline"
                                color="red"

                                size="40"
                            ></Icon> -->
                            <Icon
                                type="md-trash"
                                size="40"
                                @click="deleteImage()"
                            />
                        </div>
                    </div>
                    <div slot="footer">
                        <Button type="default" @click="addModal = false"
                            >Close</Button
                        >
                        <Button
                            type="primary"
                            @click="addCategory()"
                            :disabled="isAdding"
                            :loading="isAdding"
                            >{{ isAdding ? "Adding" : "Add Cafegory" }}</Button
                        >
                    </div>
                </Modal>

                <!-- tag edit modal -->
                <Modal
                    v-model="editModal"
                    title="Edit Category"
                    :mask-closable="false"
                    :closable="false"
                >
                    <Input
                        v-model="editData.categoryName"
                        placeholder="Edit Category Name"
                    />
                    <div class="space"></div>
                    <Upload
                        ref="editImageUploads"
                        v-show="isIconImageView"
                        :on-success="handleSuccess"
                        :format="['jpg', 'jpeg', 'png']"
                        :max-size="2048"
                        :on-format-error="handleFormatError"
                        :on-error="handleError"
                        :on-exceeded-size="handleMaxSize"
                        type="drag"
                        :headers="{
                            'x-csrf-token': token,
                            'X-Requested-With': 'XMLHttpRequest'
                        }"
                        action="/app/upload"
                    >
                        <div style="padding: 20px 0">
                            <Icon
                                type="ios-cloud-upload"
                                size="52"
                                style="color: #3399ff"
                            ></Icon>
                            <p>Click or drag files here to upload</p>
                        </div>
                    </Upload>
                    <div class="image-thumb" v-if="editData.iconImage">
                        <img
                            class="image-upload"
                            :src="`${editData.iconImage}`"
                        />
                        <div class="demo-upload-list-cover">
                            <Icon
                                type="md-trash"
                                size="40"
                                @click="deleteImage(false)"
                            />
                        </div>
                    </div>
                    <div slot="footer">
                        <Button type="default" @click="closeEditModal"
                            >Close</Button
                        >
                        <Button
                            type="primary"
                            @click="editCategory()"
                            :disabled="isAdding"
                            :loading="isAdding"
                        >
                            {{ isAdding ? "Editing..." : "Edit Category" }}
                        </Button>
                    </div>
                </Modal>

                <!-- delete Modal -->
                <delete-modal></delete-modal>
            </div>
        </div>
    </div>
</template>

<script>
import DeleteModal from "../components/deleteModal";
import { mapGetters } from "vuex";
export default {
    data() {
        return {
            data: {
                categoryName: "",
                iconImage: ""
            },
            addModal: false,
            isAdding: false,
            editModal: false,
            category: [],
            editData: {
                categoryName: "",
                iconImage: ""
            },
            index: -1,
            isDeleting: false,
            deleteModal: false,
            deleteItem: {},
            deleteIndex: -1,
            token: "",
            isIconImageView: false,
            isEditingItem: false
        };
    },
    methods: {
        async addCategory() {
            if (this.data.categoryName.trim() == "")
                return this.e("Category name is required");
            if (this.data.iconImage.trim() == "")
                return this.e("Icon name is required");
            this.data.iconImage = `${this.data.iconImage}`;
            const res = await this.callApi(
                "post",
                "app/create_category",
                this.data
            );
            if (res.status === 201) {
                this.s("Category has been added successfully");
                this.addModal = false;
                this.category.unshift(res.data);
                this.data.categoryName = "";
                this.data.iconImage = "";
            } else {
                if (res.status === 422) {
                    if (res.data.errors.categoryName) {
                        this.i(res.data.errors.categoryName[0]);
                    }
                    if (res.data.errors.iconImage) {
                        this.i(res.data.errors.iconImage[0]);
                    }
                } else {
                    this.swr();
                }
            }
        },
        async editCategory() {
            if (this.editData.categoryName.trim() == "")
                return this.e("Category name is required");
            if (this.editData.iconImage.trim() == "")
                return this.e("Icon name is required");
            const res = await this.callApi(
                "post",
                "app/edit_category",
                this.editData
            );
            if (res.status === 200) {
                // this.tags[this.index].tagName=this.editData.tagName;
                this.s("Category has been added successfully");
                this.editModal = false;
                this.isEditingItem = false;
            } else {
                if (res.status === 422) {
                    if (res.data.errors.categoryName) {
                        this.i(res.data.errors.categoryName[0]);
                    }
                    if (res.data.errors.iconImage) {
                        this.i(res.data.errors.iconImage[0]);
                    }
                } else {
                    this.swr();
                }
            }
        },
        async deleteTag() {
            this.isDeleting = true;
            //if(!confirm('Are you sure want to delete this tag?')) return;
            // tag.isDeleting=true;
            // this.$set(tag,'isDeleting',true);
            const res = await this.callApi(
                "post",
                "app/delete_tag",
                this.deleteItem
            );
            if (res.status === 200) {
                this.tags.splice(this.deleteIndex, 1);
                this.s("Tag has been deleted successfully");
            } else {
                this.swr();
            }

            this.isDeleting = false;
            this.deleteModal = false;
        },
        async deleteImage(isAdd = true) {
            let image = "";
            if (!isAdd) {
                this.isIconImageView = true;
                image = this.editData.iconImage;
                this.editData.iconImage = "";
                this.$refs.editImageUploads.clearFiles();
            } else {
                image = this.data.iconImage;
                this.data.iconImage = "";
                this.$refs.uploads.clearFiles();
            }
            var hinh = image.split("/");

            const res = await this.callApi("post", "app/delete_image", {
                imageName: hinh[2].toString()
            });
            if (res.status !== 200) {
                this.data.iconImage = image;
                this.swr();
            }
        },
        showEditModal(category, i) {
            this.editData = category;
            this.editModal = true;
            this.isEditingItem = true;
            this.index = i;
        },
        showDeleteModal(category, i) {
            const deleteModalObj = {
                showDeleteModal: true,
                deleteUrl: "app/delete_category",
                data: category,
                deleteIndex: i,
                isDeleted: false
            };
            // this.deleteItem = tag;
            // this.deleteIndex = i;
            // this.deleteModal = true;
            this.$store.commit("setDeleteModalObj", deleteModalObj);
        },
        handleSuccess(res, file) {
            res = `/uploads/${res}`;
            if (this.isEditingItem) {
                this.editData.iconImage = res;
            }
            this.data.iconImage = res;
            this.isIconImageView = false;
        },
        handleFormatError(file) {
            this.$Notice.warning({
                title: "The file format is incorrect",
                desc:
                    "File format of " +
                    file.name +
                    " is incorrect, please select jpg or png."
            });
        },
        handleMaxSize(file) {
            this.$Notice.warning({
                title: "Exceeding file size limit",
                desc: "File  " + file.name + " is too large, no more than 2M."
            });
        },
        handleError(res, file) {
            this.$Notice.warning({
                title: "The file format is incorrect",
                desc: file.errors.file[0]
            });
        },
        closeEditModal() {
            this.isEditingItem = false;
            this.editModal = false;
        }
    },
    async created() {
        this.token = window.Laravel.csrfToken;
        const res = await this.callApi("get", "app/get_category");
        if (res.status === 200) {
            console.log(res);
            this.category = res.data;
        } else {
            this.swr();
        }
    },
    components: {
        DeleteModal
    },
    computed: {
        ...mapGetters(["getDeleteModalObj"])
    },
    watch: {
        //update Obj DeleteModalObj thì hàm getter mới được gọi lại,
        //mặc khác nếu update 1 property của DeleteModalObj thì getter sẽ không được gọi
        getDeleteModalObj(obj) {
            if (obj.isDeleted) {
                this.category.splice(obj.deleteIndex, 1);
            }
        }
    }
};
</script>
<style scoped>
.image-thumb {
    position: relative;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%); */
}
img {
    width: 300px;
    height: 250px;
    border: 1px solid black;
    background-color: silver;
    margin-right: 1em;
    object-fit: cover;
    object-position: center top;
    /* object-position: center top; */
}
.image-upload {
    opacity: 0.5;
}
.demo-upload-list-cover {
    position: absolute;
    top: 50%;
    left: 50%;
}
.space {
    padding: 5px 0;
}
</style>
