<template>
    <div>
        <div class="content">
            <div class="container-fluid">
                <!--~~~~~~~ TABLE ONE ~~~~~~~~~-->
                <div
                    class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20"
                >
                    <p class="_title0">
                        Role Manangement
                        <Button @click="addModal = true">
                            <Icon type="md-add" /> Add a new Role
                        </Button>
                    </p>
                    <div class="_input_field">
                        <Input
                            type="text"
                            v-model="data.title"
                            placeholder="Title"
                        ></Input>
                    </div>

                    <div class="_overflow _table_div blog_editor">
                        <editor
                            ref="editor"
                            autofocus
                            holder-id="codex-editor"
                            save-button-id="save-button"
                            :config="config"
                            :init-data="initData"
                            @save="onSave"
                        />
                    </div>

                    <div class="_input_field">
                        <Input
                            v-model="data.post_excerpt"
                            type="textarea"
                            :rows="4"
                            placeholder="Post excerpt"
                        />
                    </div>
                    <div class="_input_field">
                        <Select
                            filterable
                            multiple
                            placeholder="Select Category"
                            v-model="data.category_id"
                        >
                            <Option
                                v-for="(c, i) in category"
                                :value="c.id"
                                :key="i"
                                >{{ c.categoryName }}</Option
                            >
                        </Select>
                    </div>

                    <div class="_input_field">
                        <Select
                            filterable
                            multiple
                            placeholder="Select Tag"
                            v-model="data.tag_id"
                        >
                            <Option
                                v-for="(t, i) in tag"
                                :value="t.id"
                                :key="i"
                                >{{ t.tagName }}</Option
                            >
                        </Select>
                    </div>

                    <div class="_input_field">
                        <Input
                            v-model="data.metaDescription"
                            type="textarea"
                            :rows="4"
                            placeholder="Meta Description"
                        />
                    </div>

                    <div class="_input_field">
                        <Button @click="save">Save</Button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            config: {
                image: {
                    // Like in https://github.com/editor-js/image#config-params
                    field: "image",
                    types: "image/*"
                }
            },
            initData: null,
            articleHTML: "",
            category: [],
            tag: [],
            data: {
                title: "",
                post: "",
                post_excerpt: "",
                metaDescription: "",
                jsonData: null,
                category_id: [],
                tag_id: []
            }
        };
    },

    methods: {
        async add() {
            if (this.data.roleName.trim() == "")
                return this.e("Role name is required");
            const res = await this.callApi(
                "post",
                "app/create_role",
                this.data
            );
            if (res.status === 201) {
                this.s("Role has been added successfully");
                this.addModal = false;
                this.roles.unshift(res.data);
                this.data.roleName = "";
            } else {
                if (res.status === 422) {
                    if (res.data.errors.roleName) {
                        this.i(res.data.errors.roleName[0]);
                    }
                } else {
                    this.swr();
                }
            }
        },
        async onSave(response) {
            var data = response;
            await this.outputHtml(data.blocks);

            this.data.post = this.articleHTML;
            this.data.jsonData = JSON.stringify(data);

            const res = await this.callApi(
                "post",
                "app/create-blog",
                this.data
            );
            if (res.status === 200) {
                this.s("Blog has been created successfully");
            }
        },
        async save() {
            const res = await this.$refs.editor.save();
        },
        outputHtml(articleObj) {
            articleObj.map(obj => {
                switch (obj.type) {
                    case "paragraph":
                        this.articleHTML += this.makeParagraph(obj);
                        break;
                    case "image":
                        this.articleHTML += this.makeImage(obj);
                        break;
                    case "header":
                        this.articleHTML += this.makeHeader(obj);
                        break;
                    case "raw":
                        this.articleHTML += `<div class="ce-block">
					<div class="ce-block__content">
					<div class="ce-code">
						<code>${obj.data.html}</code>
					</div>
					</div>
				</div>\n`;
                        break;
                    case "code":
                        this.articleHTML += this.makeCode(obj);
                        break;
                    case "list":
                        this.articleHTML += this.makeList(obj);
                        break;
                    case "quote":
                        this.articleHTML += this.makeQuote(obj);
                        break;
                    case "warning":
                        this.articleHTML += this.makeWarning(obj);
                        break;
                    case "checklist":
                        this.articleHTML += this.makeChecklist(obj);
                        break;
                    case "embed":
                        this.articleHTML += this.makeEmbed(obj);
                        break;
                    case "delimeter":
                        this.articleHTML += this.makeDelimeter(obj);
                        break;
                    default:
                        return "";
                }
            });
        }
    },
    async created() {
        const [cat, tag] = await Promise.all([
            this.callApi("get", "app/get_category"),
            this.callApi("get", "app/get_tags")
        ]);

        if (cat.status === 200) {
            this.category = cat.data;
            this.tag = tag.data;
        } else {
            this.swr();
        }
    }
};
</script>
<style>
.blog_editor {
    width: 717px;
    margin-left: 160px;
    padding: 4px 7px;
    font-size: 14px;
    border: 1px solid #dcdee2;
    border-radius: 4px;
    color: #515a6e;
    background-color: #fff;
    background-image: none;
    z-index: -1;
}
.blog_editor:hover {
    border: 1px solid #57a3f3;
}
._input_field {
    margin: 20px 0 20px 160px;
    width: 717px;
}
</style>
