<template>
    <div>
        <div class="content">
            <div class="container-fluid">
                <!--~~~~~~~ TABLE ONE ~~~~~~~~~-->
                <div
                    class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20"
                >
                    <p class="_title0">
                        Tags
                        <Button
                            @click="addModal = true"
                            v-if="this.isWritePermitted"
                        >
                            <Icon type="md-add" /> Add Tag
                        </Button>
                    </p>

                    <div class="_overflow _table_div">
                        <table class="_table">
                            <!-- TABLE TITLE -->
                            <tr>
                                <th>ID</th>
                                <th>Tag Name</th>
                                <th>Created at</th>
                                <th>Action</th>
                            </tr>
                            <!-- TABLE TITLE -->
                            <!-- ITEMS -->
                            <tr v-for="(tag, i) in tags" :key="i">
                                <td>{{ tag.id }}</td>
                                <td class="_table_name">{{ tag.tagName }}</td>
                                <td>{{ tag.created_at }}</td>
                                <td>
                                    <Button
                                        type="info"
                                        size="small"
                                        @click="showEditModal(tag, i)"
                                        v-if="isUpdatePermitted"
                                        >Edit</Button
                                    >
                                    <Button
                                        type="error"
                                        size="small"
                                        @click="showDeleteModal(tag, i)"
                                        v-if="isDeletePermitted"
                                        >Delete</Button
                                    >
                                </td>
                            </tr>
                            <!-- ITEMS -->
                        </table>
                    </div>
                </div>

                <!-- tag add modal -->
                <Modal
                    v-model="addModal"
                    title="Common Modal dialog box title"
                    :mask-closable="false"
                    :closable="false"
                >
                    <Input v-model="data.tagName" placeholder="Add tag Name" />
                    <div slot="footer">
                        <Button type="default" @click="addModal = false"
                            >Close</Button
                        >
                        <Button
                            type="primary"
                            @click="addTag()"
                            :disabled="isAdding"
                            :loading="isAdding"
                            >{{ isAdding ? "Adding" : "Add Tag" }}</Button
                        >
                    </div>
                </Modal>

                <!-- tag edit modal -->
                <Modal
                    v-model="editModal"
                    title="Common Modal dialog box title"
                    :mask-closable="false"
                    :closable="false"
                >
                    <Input
                        v-model="editData.tagName"
                        placeholder="Edit tag Name"
                    />
                    <div slot="footer">
                        <Button type="default" @click="editModal = false"
                            >Close</Button
                        >
                        <Button
                            type="primary"
                            @click="editTag()"
                            :disabled="isAdding"
                            :loading="isAdding"
                            >{{ isAdding ? "Editing..." : "Edit Tag" }}</Button
                        >
                    </div>
                </Modal>

                <!-- tag delete modal -->
                <!-- <Modal v-model="deleteModal" width="360">
                    <p slot="header" style="color:#f60;text-align:center">
                        <Icon type="ios-information-circle"></Icon>
                        <span>Delete confirmation</span>
                    </p>
                    <div style="text-align:center">
                        <p>Are you sure delete Tag?</p>
                    </div>
                    <div slot="footer">
                        <Button
                            type="error"
                            size="large"
                            long
                            :loading="isDeleting"
                            :disabled="isDeleting"
                            @click="deleteTag()"
                            >Delete</Button
                        >
                    </div>
                </Modal> -->
                <delete-modal></delete-modal>
            </div>
        </div>
    </div>
</template>

<script>
import DeleteModal from "../components/deleteModal";
import { mapGetters } from "vuex";
export default {
    components: {
        DeleteModal
    },
    data() {
        return {
            data: {
                tagName: ""
            },
            addModal: false,
            isAdding: false,
            editModal: false,
            tags: [],
            editData: {
                tagName: ""
            },
            index: -1,
            isDeleting: false,
            deleteModal: false,
            deleteItem: {},
            deleteIndex: -1
        };
    },

    methods: {
        async addTag() {
            //if(this.data.tagName.trim()=='') return this.e('Tag name is required');
            const res = await this.callApi("post", "app/create_tag", this.data);
            if (res.status === 201) {
                this.s("Tag has been added successfully");
                this.addModal = false;
                this.tags.unshift(res.data);
                this.data.tagName = "";
            } else {
                if (res.status === 422) {
                    if (res.data.errors.tagName) {
                        this.i(res.data.errors.tagName[0]);
                    }
                } else {
                    this.swr();
                }
            }
        },
        async editTag() {
            if (this.editData.tagName.trim() == "")
                return this.e("Tag name is required");
            const res = await this.callApi(
                "post",
                "app/edit_tag",
                this.editData
            );
            if (res.status === 200) {
                // this.tags[this.index].tagName=this.editData.tagName;
                this.s("Tag has been added successfully");
                this.editModal = false;
            } else {
                if (res.status === 422) {
                    if (res.data.errors.tagName) {
                        this.i(res.data.errors.tagName[0]);
                    }
                } else {
                    this.swr();
                }
            }
        },
        async deleteTag() {
            // this.isDeleing = true
            // const res = await this.callApi('post', 'app/delete_tag', this.deleteItem)
            // if(res.status===200){
            // 	this.tags.splice(this.deletingIndex,1)
            // 	this.s('Tag has been deleted successfully!')
            // }else{
            // 	this.swr()
            // }
            // this.isDeleing = false
            // this.showDeleteModal = false
            //this.isDeleting = true;
            //if(!confirm('Are you sure want to delete this tag?')) return;
            // tag.isDeleting=true;
            // this.$set(tag,'isDeleting',true);
            // const res = await this.callApi(
            //     "post",
            //     "app/delete_tag",
            //     this.deleteItem
            // );
            // if (res.status === 200) {
            //     this.tags.splice(this.deleteIndex, 1);
            //     this.s("Tag has been deleted successfully");
            // } else {
            //     this.swr();
            // }
            // this.isDeleting = false;
            // this.$store.commit("setDeleteModal");
        },
        showEditModal(tag, i) {
            this.editData = tag;
            this.editModal = true;
            this.index = i;
        },
        showDeleteModal(tag, i) {
            // this.deleteItem = tag;
            // this.deleteIndex = i;
            // this.deleteModal = true;
            const deleteModalObj = {
                showDeleteModal: true,
                deleteUrl: "app/delete_tag",
                data: tag,
                deleteIndex: i,
                isDeleted: false
            };
            // console.log('delete Obj Tag')
            this.$store.commit("setDeleteModalObj", deleteModalObj);
        }
    },
    async created() {
        const res = await this.callApi("get", "app/get_tags");
        if (res.status === 200) {
            console.log(res);
            this.tags = res.data;
        } else {
            this.swr();
        }
    },
    computed: {
        ...mapGetters(["getDeleteModalObj"])
    },
    watch: {
        //update Obj DeleteModalObj thì hàm getter mới được gọi lại,
        //mặc khác nếu update 1 property của DeleteModalObj thì getter sẽ không được gọi
        getDeleteModalObj(obj) {
            if (obj.isDeleted) {
                this.tags.splice(obj.deleteIndex, 1);
            }
        }
    }
};
</script>
